.theme-selector {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.theme-links span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}
