.item {
  transition: all 0.15s ease;
}

.item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
  border: none;
  padding: 1rem;
  width: 80%;
  max-width: 45rem;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.16);
}

dialog[open] {
  animation: fade-slide-up 0.3s ease-out forwards;
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
